body {
	font-family: 'Open Sans', sans-serif;
	overflow: hidden;
}

.fi-sidebar,
.fi-toolbar,
.fi-body {
    height: 100vh;
}

.fi-sidebar__header,
.fi-toolbar__header,
.fi-body__header {
    font-family: 'Rammetto One', cursive;
}

/**
 * NAVBARS
 */

.fi-sidebar,
.fi-toolbar {
    background-color: #262626;
    color: #808080;
}
.fi-sidebar__header ,
.fi-toolbar__header {
    padding: 4rem;
}
.fi-sidebar__tree,
.fi-toolbar__section {
    padding: 0 4rem 4rem 4rem;
}
.fi-sidebar__header .title,
.fi-toolbar__header .title {
    font-size: 1.6rem;
}
.fi-sidebar__header .fa-bars,
.fi-toolbar__header .fa-times {
    border: 1px solid #808080;
    border-radius: 4px;
    color: #808080;
    cursor: pointer;
    padding: 5px 8px;
}

/* Sidebar */
.fi-sidebar__tree {
    overflow-y: scroll;
}
.fi-sidebar__tree li {
    list-style-type: none;
    margin-bottom: .4rem;
}
.fi-sidebar__tree li:not(.tree-item__home) {
    margin-left: -1.8rem;
}
.fi-sidebar__tree a {
    color: #ffffff;
    word-break: break-all;
}

/* Toolbar */
.fi-toolbar {
    position: absolute;
    top: 0;
}
.fi-toolbar__section-search,
.fi-toolbar__section-theme {
    padding: 0;
}
.fi-toolbar__section-search input {
    background:
            rgba(255, 255, 255, 1)
            url("https://image.flaticon.com/icons/svg/126/126474.svg")
            no-repeat scroll right center / 30px 18px;
}
.fi-toolbar__section-theme .title {
    color: #d9d9d9;
    font-size: 16px;
    font-weight: bold;
}
.fi-toolbar__section-theme .colors div {
    border: 1px solid #000;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    height: 30px;
    width: 30px;
}

/**
 * BODY
 */

.fi-body__header {
    border-radius: 4px;
    font-family: 'Rammetto One', cursive;
    margin: 2rem;
}
.fi-body__header,
.fi-body__header a,
.fi-body__header i {
    color: #262626;
}
.fi-body__header-breadcrumb {
    padding: 1.6rem .8rem;
}
.fi-body__header-breadcrumb .btn {
    background-color: transparent;
    font-size: 1.2rem;
}
.fi-body__header-breadcrumb .btn:not(:last-child) {
	border-right: 1px solid #4d4d4d;
}
.fi-body__section {
    padding: 0 4rem;
    overflow: auto;
}
.fi-body__section a {
    color: #000000;
}
.fi-body__section-table {
    border-collapse: collapse;
    width: 100%;
}
.fi-body__section-table .header {
    color: #a6a6a6;
    background: #ffffff;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: normal;
    position: sticky;
    top: 0;
}
